{% extends 'master.html' %}
{% block primary %}
    <div class="fullwidth-block inner-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h2 class="entry-title">درباره دانشگاه شهید بهشتی</h2>
                        <hr>
                        <figure class="featured-image">
                            <img src="../static/Image/aboutSbu.jpg" alt="post image">
                        </figure>
                        <p class="leading">دانشگاه شهید بهشتی که در بهمن ماه سال 1338 تأسيس شده، یکی از دانشگاه‌های
                            دولتی ایران است که در منطقهٔ اوین، غرب ولنجک و شرق درکه در شمال غربی تهران با 60 هکتار واقع
                            شده‌است.</p>
                        <p class="leading">دانشگاه مشتمل بر 57 ساختمان اصلی، 19 دانشکده ، 10 پژوهشکده و 9 مرکز تحقیقاتی
                            می باشد.<br>این دانشگاه دارای 17777 دانشجو می باشد و در مقاطع تحصیلی کارشناسی، کارشناسی ارشد
                            و دکترا در دوره های روزانه ،شبانه و دوره های الکترنیکی دانشجو می‌پذیرد و تاکنون بیش از
                            ۴۳٬۳۳۴ دانشجو از این دانشگاه فارغ‌التحصیل شده‌اند.<br></p>
                        <p class="leading"><strong>دانشگاه شهید بهشتی دارای :</strong><br>9562 دانشجوی کارشناسی ارشد و
                            دکتری<br>8215 دانشجوی کارشناسی<br>860 عضو هیات علمی است. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}