{% extends 'master.html' %}
{% load static %}
{% block primary %}
    <div class="fullwidth-block-new-event-section" data-bg-color="#154360">
        <div class="container">
            <header class="section-header" style="padding-top: 0; margin-bottom: 17px;">
                <h2 style="direction: rtl;" class="section-title">جدید ترین ها</h2>

                <div class="event-nav">
                    <a class="prev" id="event-prev-new" href="#"><i class="fa fa-caret-left"></i></a>
                    <a class="next" id="event-next-new" href="#"><i class="fa fa-caret-right"></i></a>
                </div> <!-- .event-nav -->

            </header> <!-- .section-header -->
            <div id="newPlace" class="event-carousel">

                <div class="event">
                    <div class="entry-rate">
                        <div style="direction: rtl;" class="Rate">امتیاز</div>
                        <span class="rateVal">10.0</span>
                    </div>
                    <a href="#"><img src="{% static 'Image/32827_600_800.jpg' %}" width="150px" alt ></a>
                </div> <!-- .event -->


                <div class="event">
                    <div class="entry-rate">
                        <div style="direction: rtl;" class="Rate">امتیاز</div>
                        <span class="rateVal">10.0</span>
                    </div>
                    <a href="#"><img src="{% static 'Image/35343_600_800.jpg' %}" width="150px" alt ></a>
                </div> <!-- .event -->


                <div class="event">
                    <div class="entry-rate">
                        <div style="direction: rtl;" class="Rate">امتیاز</div>
                        <span class="rateVal">10.0</span>
                    </div>
                    <a href="#"><img src="{% static 'Image/35722.jpg' %}" width="150px" alt /></a>
                </div> <!-- .event -->


                <div class="event">
                    <div class="entry-rate">
                        <div style="direction: rtl;" class="Rate">امتیاز</div>
                        <span class="rateVal">10.0</span>
                    </div>
                    <a href="#"><img src="{% static 'Image/32827_600_800.jpg' %}" width="150px" alt ></a>
                </div> <!-- .event -->


                <div class="event">
                    <div class="entry-rate">
                        <div style="direction: rtl;" class="Rate">امتیاز</div>
                        <span class="rateVal">10.0</span>
                    </div>
                    <a href="#"><img src="{% static 'Image/32827_600_800.jpg' %}" width="150px" alt ></a>
                </div> <!-- .event -->


                <div class="event">
                    <div class="entry-rate">
                        <div style="direction: rtl;" class="Rate">امتیاز</div>
                        <span class="rateVal">10.0</span>
                    </div>
                    <a href="#"><img src="{%  static 'Image/Capture.PNG' %}" width="150px" alt ></a>
                </div> <!-- .event -->

                <div class="event">
                    <div class="entry-rate">
                        <div style="direction: rtl;" class="Rate">امتیاز</div>
                        <span class="rateVal">10.0</span>
                    </div>
                    <a href="#"><img src="{% static 'Image/32827_600_800.jpg' %}" width="150px" alt ></a>
                </div> <!-- .event -->

            </div> <!-- .event-carousel -->
        </div> <!-- .container -->
    </div> <!-- .New-event-section -->
    <div class="fullwidth-block-upcoming-event-section" data-bg-color="#154360">
        <div class="container">
            <header class="section-header" style="padding-top: 0; margin-bottom: 17px;">
                <h2 style="direction: rtl;" class="section-title">بزودی</h2>

                <div class="event-nav">
                    <a class="prev" id="event-prev-upcoming" href="#"><i class="fa fa-caret-left"></i></a>
                    <a class="next" id="event-next-upcoming" href="#"><i class="fa fa-caret-right"></i></a>
                </div> <!-- .event-nav -->

            </header> <!-- .section-header -->
            <div id="upcomingPlace" class="event-carousel">

                <div class="event">
                    <div class="entry-date">
                        <div class="date">23</div>
                        <span class="month">Jun</span>
                    </div>
                    <a href="#"><img src="{% static 'Image/32827_600_800.jpg' %}" width="150px" alt ></a>
                </div> <!-- .event -->


                <div class="event">
                    <div class="entry-date">
                        <div class="date">25</div>
                        <span class="month">Jun</span>
                    </div>
                    <a href="#"><img src="Image\35343_600_800.jpg" width="150px" alt \></a>
                </div> <!-- .event -->


                <div class="event">
                    <div class="entry-date">
                        <div class="date">26</div>
                        <span class="month">Feb</span>
                    </div>
                    <a href="#"><img src="Image\35722.jpg" width="150px" alt \></a>
                </div> <!-- .event -->


                <div class="event">
                    <div class="entry-date">
                        <div class="date">30</div>
                        <span class="month">Marc</span>
                    </div>
                    <a href="#"><img src="Image\32827_600_800.jpg" width="150px" alt \></a>
                </div> <!-- .event -->


                <div class="event">
                    <div class="entry-date">
                        <div class="date">23</div>
                        <span class="month">Jun</span>
                    </div>
                    <a href="#"><img src="Image\32827_600_800.jpg" width="150px" alt \></a>
                </div> <!-- .event -->


                <div class="event">
                    <div class="entry-date">
                        <div class="date">23</div>
                        <span class="month">Jun</span>
                    </div>
                    <a href="#"><img src="Image\Capture.png" width="150px" alt \></a>
                </div> <!-- .event -->

                <div class="event">
                    <div class="entry-date">
                        <div class="date">28</div>
                        <span class="month">Nov</span>
                    </div>
                    <a href="#"><img src="Image\32827_600_800.jpg" width="150px" alt \></a>
                </div> <!-- .event -->

            </div> <!-- .event-carousel -->
        </div> <!-- .container -->
    </div> <!-- .upcoming-event-section -->

{% endblock %}