{% extends 'master.html' %}
{% load static %}
{% block primary %}
    <div class="superSliderClass">
        <div class="slider">
            <ul class="slides">
                {% for content in contentSlider %}
                    <li class="contain">
                        <div class="container">
                            <img src="{{ content.photo.url }}" width="1000" height="450" alt>
                            <div class="center">
                                <h2 class="slide-title">{{ content.title }}</h2>
                                <h3 class="slide-subtitle"></h3>
                                <p class="slide-desc">{{ content.description }}</p>
                                <a href="/book/{{ content.book.id }}" style="direction: rtl;" class="button cut-corner">بیشتر ...</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="fullwidth-block-new-event-section" data-bg-color="#154360">
        <div class="container">
            <header class="section-header" style="padding-top: 0; margin-bottom: 17px;">
                <h2 style="direction: rtl;" class="section-title">جدید ترین ها</h2>

                <div class="event-nav">
                    <a class="prev" id="event-prev-new" href="#"><i class="fa fa-caret-left"></i></a>
                    <a class="next" id="event-next-new" href="#"><i class="fa fa-caret-right"></i></a>
                </div> <!-- .event-nav -->

            </header> <!-- .section-header -->
            <div id="newPlace" class="event-carousel">
                {% for new in newBook %}
                    <div class="event">
                          <div class="entry-date">
                            <div class="Rate">امتیاز</div>
                            <span class="rateVal">{{ new.score }}</span>
                        </div>
                        <a href="#"><img src="{{ new.photo.url }}" width="150px" alt></a>
                    </div> <!-- .event -->
                {% endfor %}
            </div> <!-- .event-carousel -->
        </div> <!-- .container -->
    </div> <!-- .New-event-section -->
    <div class="fullwidth-block-upcoming-event-section" data-bg-color="#154360">
        <div class="container">
            <header class="section-header" style="padding-top: 0; margin-bottom: 17px;">
                <h2 style="direction: rtl;" class="section-title">منتخب</h2>

                <div class="event-nav">
                    <a class="prev" id="event-prev-upcoming" href="#"><i class="fa fa-caret-left"></i></a>
                    <a class="next" id="event-next-upcoming" href="#"><i class="fa fa-caret-right"></i></a>
                </div> <!-- .event-nav -->

            </header> <!-- .section-header -->
            <div id="upcomingPlace" class="event-carousel">
                {% for chose in chosenBook %}
                    <div class="event">
                        <div class="entry-date">
                            <div class="Rate">امتیاز</div>
                            <span class="rateVal">{{ chose.score }}</span>
                        </div>
                        <a href="book/{{ chose.id }}"><img src="{{ chose.photo.url }}" width="150px" alt></a>
                    </div> <!-- .event -->
                {% endfor %}
            </div> <!-- .event-carousel -->
        </div> <!-- .container -->
    </div> <!-- .upcoming-event-section -->

{% endblock %}